services:
  mongodb:
    image: mongo
    restart: always
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: 1234
    volumes:
      - mongo-data:/data/db

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.17.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false # ❌ ปิด Security ไปก่อนเพื่อความง่าย (ไม่ต้อง Login)
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m" # ⚠️ สำคัญ: จำกัด RAM ไว้ที่ 512MB ไม่งั้นเครื่องคอมคุณค้างแน่
    ports:
      - "9200:9200"

volumes:
  mongo-data:
    driver: local
